<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">        
        <p>Please cheeck your email and click the link to verify your account.</p>        
        <hr />
        <p>Thank you!</p>
    </div>
</div>